body{
    background-color: rgb(44, 42, 42) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: white !important;
   padding-right: 150px;
   padding-left: 150px;
}

@media screen and (max-width: 1000px) {
    body{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 400px) {
    body{
        padding-left: 10px;
        padding-right: 10px;
    }
}


/*------------nav starts------------*/  


.topnav {
  overflow: hidden;
  background-color: rgb(61, 59, 59);
  color: #f2f2f2;
}

.logo {
    display: inline-block;
    padding: 14px 16px;
    margin: 0px;
}

.navs{
    display: flex;
    float: right;
}

.topnav a {
  float: none;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 550px) {
  .topnav a{
      font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .logo{
        font-size: 13px;
    }
}


/*---------nav ends---------*/


/*---------home-----------*/


.photo1{
  background: url("../img/colrib_practice.jpg") no-repeat center center;
  min-height: 600px;
}

.overlay{
    background: rgba(0, 0, 0, 0.733);
    min-height: 600px;
    text-align: center;
    color: white;
    padding-top: 200px;
}

.overlay button{
    padding: 15px;
    border: rgb(228, 228, 228) 3px solid;
    border-radius: 10px;
}

.overlay button a{
    text-decoration: none;
}

.overlay button:nth-child(1) a{
    color: white;
}

.overlay button:nth-child(2) a{
    color: rgb(3, 3, 3);
}

.overlay button:nth-child(1){
    background-color: rgba(255, 255, 255, 0);
}

.overlay button:nth-child(1):hover{
    background-color: rgb(139, 139, 139);
}


/*--------about-----------*/

#about{
    background-color: rgb(73, 73, 73);
    margin-top: 70px;
    text-align: center;
    padding: 30px;
}

#about img{
    width: 30%;
    padding: 20px;
}


@media screen and (max-width: 600px) {
    #about img{
        padding: 10px;
    }
}


/*-------news-------*/


#news{
    margin-top: 70px;
}


/*-----contact-------*/


#contact{
    background-color: rgb(0, 0, 0);
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact1stSide{
    text-align: center;
    width: 20%;
    display: inline-block;
}

.contact1stSide i{
    font-size: 40px;
    color: rgb(170, 1, 200);
}

@media screen and (max-width: 800px) {
    .contact1stSide{
        font-size: 10px;
    }
}

.contact2ndSide{
    width: 70%;
    border: 1px 0px solid white;
    display: inline-block;
    padding-left: 20px;
    border-left: 1px solid grey;
}


.contact2ndSide input{
    border: 0px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px !important;
    display: block;
    width: 100%;
}

.contact2ndSide textarea{
    border: 0px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px !important;
    width: 100%;
}

.submitBtn{
    background-color: rgb(170, 1, 200);
    border-radius: 10px;
    color: white;
    width: 100px !important;
}

@media screen and (max-width: 800px) {
    .contact2ndSide{
        font-size: 13px;
    }
}


.footer{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .footer{
        font-size: 13px;
    }
}